@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@mixin centerElement {
  display: flex;
  justify-content: center;
  align-items: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

html,
.container {
  height: 100vh;
  width: 100vw;
}

.container {
  @include centerElement;
  flex-direction: column;
}

.main-content {
  display: flex;
  height: 70%;
  width: 80%;
  gap: 20px;

  .pokemon-sprite-info-container {
    display: block;
    height: 100%;
    width: 60%;

    .pokemon-info-container {
      height: 40%;
    }

    .pokemon-sprite-container {
      @include centerElement;
      height: 60%;

      .pokemon-sprite {
        scale: 2.3;
        image-rendering: pixelated;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }

  }

  .pokemon-list-container {
    width: 40%;

    select {
      width: 100%;
      height: 100%;

      &::-webkit-scrollbar {
        width: 10px;

        &-track {
          background-color: rgb(160, 168, 166);
        }

        &-thumb {
          background-color: rgb(255, 149, 149);
        }
      }

      option {
        font-family: 'Silkscreen';
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }
}